<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestión Farmacia</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">description</span>&nbsp;Consulta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cliente">
                <span class="material-icons">group</span>&nbsp;Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="medicamento">
                <span class="material-icons">medication</span>&nbsp;Medicamentos
            </NavLink>
        </div>
      
    </nav>
</div>
